@using EpamLibrary.Contracts.Enums

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>NINA Theme – Free HTML theme</title>

    @Styles.Render("~/Content/css")

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- *********  Header  ********** -->

    <div id="header">
        <div id="header_in">

            <h1><a href="index.html"><b>FINAL</b> TASK</a></h1>

            <div id="menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Catalog", "Catalog", "Book")</li>
                    <li>@Html.ActionLink("Top 100", "Top", "Book")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Cabinet", "UserInfo", "User")</li>
                </ul>
            </div>

        </div>
    </div>

    <!-- *********  Main part – headline ********** -->


    <div id="main_part_inner">
        <div id="main_part_inner_in">

            <h2>Profile</h2>

        </div>

    </div>


    <!-- *********  Content  ********** -->

    <div id="content_inner">

        <!-- ***** Out team + portraits ***** -->

        <h3>PERSONAL INFO</h3>

        <div class="user-profile">
            <div class="user-menu">
                <ul class="user-menu-list">
                    <li>@Html.ActionLink("Info", "UserInfo", "User")</li>
                    <li>@Html.ActionLink("History", "History", "User")</li>
                    <li>@Html.ActionLink("Settings", "Settings", "User")</li>
                    @{
                        if (User.IsInRole($"{nameof(UserType.Admin)}," +
                                          $"{nameof(UserType.Moderator)}," +
                                          $"{nameof(UserType.Librariant)}"))
                        {

                            <li>@Html.ActionLink("Journal", "Journal", "User")</li>

                            if (!User.IsInRole(nameof(UserType.Librariant)))
                            {
                                //TODO:journal page
                                <li>@Html.ActionLink("User list", "UserList", "User")</li>
                            }
                        }
                    }
                    <li>@Html.ActionLink("Log out", "Logout", "Base")</li>
                </ul>
            </div>
            <div class="user-content">

                @RenderBody()

            </div>
        </div>


    </div>

    <!-- *********  Footer  ********** -->

    <hr class="cleanit">

    <div id="footer">
        <div id="footer_in">

            <p>2018 All rights reserved.(c)</p>

        </div>
    </div>


</body>
</html>
