@using EpamLibrary.Contracts.Enums
@model  EmapLibrary.UserInterface.ViewModels.Internal.BookInfoViewModel
@{
}

<div id="main_part_inner">
    <div id="main_part_inner_in">

        <h2>Book info</h2>

    </div>

</div>


<!-- *********  Content  ********** -->

<div id="content_inner">

    <!-- ***** Out team + portraits ***** -->

    <h3>@Model.Book.Title</h3>

    <div>
        <span class="book-image"> <img src="bookImg" alt="name+book image"> </span>
        <div class="book-description">
            Genres: @(string.Join(", ", Model.Book.Genres.Select(s => s)))<br>
            Authors: @(string.Join(", ", Model.Book.Authors.Select(s => s)))<br>
            Publication date: @Model.Book.PublicationDate <br>
            Publication house: @Model.Book.PublicationHouse <br>
            Mark: @(Model.Book.Comments.Count <= 0 ? "No reviews yet" : (Model.Book.Comments.Sum(s => s.Rating) / Model.Book.Comments.Count).ToString())<br>
            Top: int <br>
        </div>
        <div class="book-description text-description">@Model.Book.Description</div>
        @if (User.IsInRole($"{UserType.Admin},{UserType.Moderator},{UserType.Librariant}"))
        {
            <a href="@Href("/Book/EditBook?id=" + Model.Book.Id)" class="book-edit-link">edit</a>
        }
    </div>

    <hr class="cleanit">
    
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form action="SetComment" method="get" class="formit comment-form">
                <input type="text" value="@Model.Book.Id" name="bookId" style="display: none;"/>
                <select class="form-select" name="mark" id="sel">
                    <option value="1">Worst I ever read</option>
                    <option value="2">Not recommend</option>
                    <option value="3">Not bad, not bad</option>
                    <option value="4">Recommed</option>
                    <option value="5">Best book ever. 10/10</option>
                </select>
                <textarea class="comment-text" name="text" id="txt" cols="30" rows="10" placeholder="Your comment"></textarea>
                <input type="submit" class="button_submit left-formated" value="POST">
            </form>
        }
    }
    

    <hr class="cleanit">

    @Helpers.DisplayComments(Model.Book.Comments)

</div>

<hr class="cleanit">

<!-- ** Pagination ** -->

@Helpers.DisplayPage(Model.PageCount, Model.Page)