@using EmapLibrary.UserInterface.ViewModels
@model EmapLibrary.UserInterface.ViewModels.Internal.HomeViewModel
@{
    ViewBag.Title = "Home CurrentPage";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>EPAM Library</title>


    @Styles.Render("~/Content/css")

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- *********  Header  ********** -->

    <div id="header">
        <div id="header_in">

            <h1><a href="@Href("~/Home/Index")"><b>FINAL</b> TASK</a></h1>

            <div id="menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Catalog", "Catalog", "Book")</li>
                    <li>@Html.ActionLink("Top 100", "Top", "Book")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @{
                        if (Model.IsLogged)
                        {
                            <li>@Html.ActionLink("Cabinet", "UserInfo", "User")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Sign in", "Login", "Base")</li>
                        }
                    }
                   
                </ul>
            </div>

        </div>
    </div>

    <!-- *********  Main part (slider)  ********** -->


    <div id="main_part">
        <div id="main_part_in">

            <h2>Kharkiv national library</h2>

            <p>Building a bridge between library and information</p>

        </div>
    </div>


    <!-- *********  Content  ********** -->

    <div id="content">

        <div class="thirds">
            <h3>Hey, is it free? Do I need to pay for it?</h3>
            <p>Library comletely free of charge. You can reed any book from catalog for $0.00!</p>
        </div>

        <div class="thirds">
            <h3>Are there any electronic versions of books?</h3>
            <p>Yes we have. Almost 90% of books are available in electronic version.</p>
        </div>

        <div class="thirds">
            <h3>What if I want to read paper version at home?</h3>
            <p>Then you need to register at our web-site and take a book from office. (See more in 'About' section)!</p>
        </div>

        <hr class="cleanit">

        <div class="banner1">
            <p>Take a look on <b>last reviewed books</b>.<p>
                <a href="@Href("/Book/Catalog")" class="button_dark">SEE ALL</a>
        </div>

        <!-- ****  Recent works  ***** -->

        <h3>Last reviewed</h3>

        @Helpers.DisplayBooks(Model.LastReviewed)

        <hr class="cleanit">

        <div class="banner1">
            <p>Take a look on <b>newest books</b> in library.<p>
                <a href="@Href("/Book/Catalog")" class="button_dark">CATALOG</a>
        </div>

        <h3>Newest books</h3>

        @Helpers.DisplayBooks(Model.NewestBooks)

        <div class="cara"></div>

    </div>


    <!-- *********  Footer  ********** -->

    <hr class="cleanit">

    <div id="footer">
        <div id="footer_in">

            <p>2018 All rights reserved.(c)</p>

        </div>
    </div>


</body>
</html>
